﻿@{
    Layout = null;
    String tags = "";
}
<div style="background-color:burlywood; border:double" ;>
    <div class="d-flex" style="justify-content: space-between;">
        <h3>Editar nota</h3>
        <div>
            <button id="editarNote" class="btn btn-success">Guardar</button>

            <button id="cancelEditar" class="btn btn-danger">Cancelar</button>

        </div>


    </div>

    <input type="text" id="inputId" value=@Model.id hidden />
    <div class="form-group">
        <label for="inpTitulo">Titulo</label>
        <input name="titulo" type="text" class="form-control" id="inpTitulo" value="@Model.titulo" placeholder="titulo">
    </div>

    @foreach (NotaEtiqueta ne in Model.notaEtiquetas) {

        tags += ne.etiqueta.nombre;
        tags += ",";
    }

    @{tags = tags.Remove(tags.Length - 1);}

    <div class="form-group">
        <label for="inpTags">Tags</label>
        <input name="tags" type="text" value=@tags class="form-control" id="inpTags" placeholder="tags">
    </div>

    <div class="form-group">
        <label for="inpContenido">Contenido</label>
        <textarea  name="contenido" class="form-control" id="inpContenido"  rows="2">@Model.contenido</textarea>
    </div>



</div>
