﻿
@{
    Layout = null;
}
<div style="background-color:burlywood; border:double" ;>
    <div class="d-flex" style="justify-content: space-between;" >
        <h3>Crear nota</h3>
        <div >
            <button id="createNote" class="btn btn-success">Enviar</button>

            <button id="cancelNote" class="btn btn-danger">Cancelar</button>

        </div>
     

    </div>

    <div class="form-group">
        <label for="inpTitulo">Titulo</label>
        <input name="titulo" type="text" class="form-control" id="inpTitulo" placeholder="titulo">
    </div>

    <div class="form-group">
        <label for="inpTags">Tags</label>
        <input name="tags" type="text" class="form-control" id="inpTags" placeholder="tags">
    </div>
    <div class="form-group">
        <label for="inpContenido">Contenido</label>
        <textarea  name="contenido" class="form-control" id="inpContenido" rows="2"></textarea>
    </div>



</div>
