﻿
@{
    Layout = null;
}

<div class="card text-center">
    <div class="card-header">
        NOTA
    </div>
    <div class="card-body">
        <h5 class="card-title">@Model.titulo</h5>
        <small>@Model.fechaModificacion</small>
       
        <div>
            @foreach (NotaEtiqueta ne in Model.notaEtiquetas)
            {


                <span class="badge badge-pill badge-danger">@ne.etiqueta.nombre</span>




            }

        </div>

        <p class="card-text">@Model.contenido</p>
        <button value=@Model.id id="editar" class="btn btn-primary">Editar</button>
        <button value=@Model.id id="eliminarNota" class="btn btn-primary">Eliminar</button>

    </div>
    
</div>

