﻿@{
    ViewData["Title"] = "Home Page";
}


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

<div id="row" class="row ">



</div>
@section Scripts{



    <script>





        $(document).ready(

            function () {

                var request = $.ajax(

                    {
                        url: 'Home/Main',
                        type: 'get'

                    }



                );

                request.done(

                    function (respuesta) {

                        alert("funciono");
                        $("#row").html(respuesta);


                        
                        $("#row").on("click", ".tb",

                            function (e) {
                                e.preventDefault();
                                var btag = $(this);

                                var request = $.ajax(

                                    {
                                        url:'Home/listaByTag',
                                        type: 'post',
                                        data: {
                                            id: btag.val()
                                        }

                                    }






                                );

                                request.done(

                                    function (re) {

                                        alert("ListaFiltrada");
                                        $("#notasLista").html(re);

                                    }


                                );



                            }


                        );









                        $("#row").on("click", ".liNota",

                            function (e) {
                                
                                e.preventDefault();
                                var liNota = $(this);

                                var request = $.ajax(
                                    {

                                        url: 'Home/getNota',
                                        type: 'post',
                                        data: {
                                            id: liNota.attr("id")
                                        }



                                    }


                                );
                                request.done(

                                    function (res) {

                                        $("#colForm").html(res);
                                    }




                                );




                            }


                        );



                        $("#row").on("click", "#eliminarNota",


                            function (e) {

                                e.preventDefault();

                                var request = $.ajax(
                                    {

                                        url: 'Home/eliminarNota',
                                        type: 'get',
                                        data: {
                                            id: $("#eliminarNota").val()
                                        }

                                    }


                                );

                                request.done(

                                    function (respuesta) {

                                        alert("Se elimino la nota");
                                        $("#row").html(respuesta);
                                    }



                                );




                            }




                        );









                        $("#row").on("click", "#editar",

                            function (e) {
                                e.preventDefault();

                                var request = $.ajax(
                                    {

                                        url: 'Home/formEditar',
                                        type: 'get',
                                        data: {
                                            id: $("#editar").val()
                                        }

                                    }
                                 

                                );

                                request.done(

                                    function (respuesta) {

                                        
                                        $("#colForm").html(respuesta);

                                        var simplemde = new SimpleMDE({ element: $("#inpContenido")[0] });





                                        var btnCrear = $("#editarNote");

                                        btnCrear.click(

                                            function (e) {
                                                e.preventDefault();

                                                var r = $.ajax(

                                                    {

                                                        url: 'Home/guardarEditado',
                                                        type: 'post',
                                                        data: {
                                                            titulo: $("#inpTitulo").val(),
                                                            contenido: simplemde.value(),
                                                            id: $("#inputId").val(),
                                                            tags: $("#inpTags").val()

                                                        }



                                                    }

                                                );

                                                r.done(

                                                    function (respuesta) {

                                                        alert("Se edito la nota");
                                                        $("#row").html(respuesta);



                                                    }




                                                );


                                            }

                                        );



                                      









                                    }



                                );


                            }


                        );








                        $("#row").on("click", "#todos",

                            function (e) {
                                e.preventDefault();
                                var btag = $(this);

                                var request = $.ajax(

                                    {
                                        url: 'Home/listaTodos',
                                        type: 'post',
                                       

                                    }






                                );

                                request.done(

                                    function (re) {

                                        alert("ListaTodos");
                                        $("#notasLista").html(re);

                                    }


                                );



                            }


                        );



                        $("#row").on("keyup", "#buscador",

                           
                            function (e) {
                                e.preventDefault();
                               

                                var buscador = $("#buscador");

                                var request = $.ajax(

                                    {

                                        url: 'Home/search',
                                        type: 'post',
                                        data: {
                                            buscar: buscador.val()
                                        }




                                    }



                                );
                                request.done(
                                    
                                    function (respuesta) {
                                     
                                        $("#notasLista").html(respuesta);
                                    }


                                );



                            }






                        );
















                        

                        $("#row").on("click", "#addNote", 


                            function (e) {

                                e.preventDefault();

                                alert("Hiciste click");

                                var req = $.ajax(

                                    {
                                        url: 'Home/formAdd',
                                        type: 'get'

                                    }




                                );

                                req.done(
                                    function (res) {

                                        $("#colForm").html(res);

                                        var simplemde = new SimpleMDE({ element: $("#inpContenido")[0] });


                                        var btnCrear = $("#createNote");

                                        btnCrear.click(

                                            function (e) {
                                                e.preventDefault();

                                                var r = $.ajax(

                                                    {

                                                        url: 'Home/crearNota',
                                                        type: 'post',
                                                        data: {
                                                            titulo: $("#inpTitulo").val(),
                                                            contenido: simplemde.value(),
                                                            tags: $("#inpTags").val()

                                                        }



                                                    }

                                                );

                                                r.done(

                                                    function (respuesta) {

                                                        alert("Se agrego la nota");
                                                        $("#row").html(respuesta);



                                                    }




                                                );


                                            }

                                        );




                                    }


                                );




                            








                        });





                      






                    }

                );
                request.fail(
                    function () {
                        alert("fallo");
                    }
                );









            }




        );


    </script>


    

}
