﻿
@{
    Layout = null;
}
<ul>

    @foreach (NotaEtiqueta net in Model)
    {

        <li  class="liNota" id=@net.nota.id >

            <div class="card w-75">
                <div class="card-body">
                    <h5 class="card-title"> @net.nota.titulo</h5>
                    <p class="card-text">@net.nota.contenido.Substring(0, 50)...</p>

                </div>
            </div>

        </li>


    }

</ul>