﻿
@{
    Layout = null;
}
<ul>

    @foreach (Nota nota in Model)
    {

        <li class="liNota" id=@nota.id >

            <div class="card w-75">
                <div class="card-body">
                    <h5 class="card-title"> @nota.titulo</h5>
                    <p class="card-text">@nota.contenido.Substring(0, 50)...</p>

                </div>
            </div>

        </li>


    }

</ul>