﻿
@{

    Layout = null;
}




<div class="col-2 collapse" id="collapseExample">
    <div class="sticky-top">
        <div class="nav flex-column">
            <ul>
                <li style="list-style: none;">
                    <h6><b>Tags</b></h6>
                </li>
                <li>

                    <button value="0"  id="todos" class="badge badge-warning">Ttodos</button>

                </li>


                @foreach (Etiqueta etiqueta in Model.etiquetas)
                {
                    <li>

                        <button value=@etiqueta.id class="badge badge-success tb">@etiqueta.nombre</button>

                    </li>

                }

            </ul>     
           
        </div>
    </div>
</div>





<div class="col-6">


    <div class="col-12 mt-3 mb-3">
        <div class="form-inline my-2 my-lg-0 ">

            <button class="btn btn-info mr-3" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><i class="bi bi-list"></i></button>
            <input id="buscador" class="form-control mr-sm-2" type="search" style="        width: 279px;" placeholder="Search" aria-label="Search">
            <button class="btn btn-primary" id="addNote" ><i class="bi bi-journal-plus"></i>Add Note</button>
        </div>

    </div>

    <div id="notasLista" class="col-12">

        <ul>

            @foreach (Nota nota in Model.notas)
            {

            <li  class="liNota" id=@nota.id >

                <div class="card w-75">
                    <div class="card-body">
                        <h5 class="card-title">@nota.titulo</h5>
                        <p class="card-text">@nota.contenido.Substring(0, 50)...</p>

                    </div>
                </div>

            </li>


            }

        </ul>
     

    </div>


</div>


<div class="col-4" id="colForm" >

   

</div>